<div id="<%= dom_id movie %>">
  <th>
    <strong>Title:</strong>
    <%= movie.title %>
  </th>

  <th>
    <strong>Rating:</strong>
    <%= movie.rating %>
  </th>

  <th>
    <strong>Description:</strong>
    <%= movie.description %>
  </th>

  <th>
    <strong>Release date:</strong>
    <%= movie.release_date %>
  </th>

</div>
